html, body {
    display: grid;
    place-content: center;
    overflow: hidden;
    margin: 0;
    height: 100vh;
    background-color: #78CAD9;
  }

  a {
    text-decoration: none;
    color: black;
}
  #header{
    border-bottom: 1px solid rgb(255, 187, 0);
    color: #222;
    display: block;
    padding: 10px 0;
    text-align: center;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 187, 0)), to(rgb(255, 187, 0)));
    display: flex;
    min-height: 70px;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    display: flex;
    align-items: center;
}
.logo img {
    height: 50px;
    margin-right: 40px;
}
  h1 {
    color: #000000;
    display: flex;
    position: relative;
    transform-style: preserve-3d;
    font: 100 5vw chilanka, segoe script, purisa, comic sans ms;
  }
  h1::after {
    position: absolute;
    top: calc(50% - .5*0.125em);
    right: 0;
    width: calc(50% + 50vw);
    height: 0.125em;
    border-radius: 0 0.125em 0.125em 0;
    background: rgb(4, 118, 133);
    animation: slide 3ss ease-out;
    content: "";
  }
  
  @keyframes slide {
    0% {
      transform: translate(-100%);
    }
  }
  .letter {
    overflow: visible;
    white-space: pre;
    transform: rotatey(2deg) scalex(1.00061);
  }
  
  .rev {
    transform: rotatey(-2deg) scalex(1.00061);
  }

a {
    text-decoration: none;
    color: black;
}



/*BUSCADOR*/
.flexsearch--wrapper {
	height: auto;
	width: auto;
	max-width: 100%;
	overflow: hidden;
	background: transparent;
	margin: 0;
	position: static;
}
	
.flexsearch--form {
	overflow: hidden;
	position: relative;
}
	
.flexsearch--input-wrapper {
	padding: 0 66px 0 0; /* Right padding for submit button width */
	overflow: hidden;
}

.flexsearch--input {
  width: 100%;
}

/***********************
 * Configurable Styles *
 ***********************/
.flexsearch {
  padding: 0 25px 0 200px; /* Padding for other horizontal elements */
}
/*
ADVERTENCIA!!!!
MODIFICAR BUSCADOR
*/
.flexsearch--input {
  -webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
 	height: 60px;
  padding: 0 46px 0 10px;
	border-color: #888;
  border-radius: 35px; /* (height/2) + border-width */
  border-style: solid;
	border-width: 5px;
  
  color: #333;
  font-family: 'Helvetica', sans-serif;
	font-size: 26px;
	
}

.contenido {
  display: flex;
  margin: 20px;
  
}

.lista {
  width: 80%;
  margin-top: 10px;
}

.bloques {
  background-color: #78CAD9;
 /*display: flex;*/
 /* align-items: center;*/
  padding: 40px;
  position: relative;
  border: 3px solid rgb(36, 44, 54);
  border-radius: 30px;
  /*margin: 3.57143%;*/

  width: 20%;
    height: auto;
    display: inline-block;
    margin: 0.2%;
}

.bloques p {
  font-size: 10px;
  color: black;
  padding: 10px;
}
.bloques img{
  width: 50px;
  height: auto;
}
.bloques h3{
  background: transparent;
  font-size: 16px;
}

.flexsearch--submit {
  position: absolute;
	right: 0;
	top: 0;
	display: block;
	width: 60px;
	height: 60px;
  padding: 0;
  border: none;
	margin-top: 8px; /* margin-top + border-width */
  margin-right: 5px; /* border-width */
	background: transparent;
  color: #888;
  font-family: 'Helvetica', sans-serif;
  font-size: 40px;
  line-height: 60px;
}

.flexsearch--input:focus {
  outline: none;
  border-color: #333;
}

.flexsearch--input:focus.flexsearch--submit {
 	color: #333; 
}

.flexsearch--submit:hover {
  color: #333;
  cursor: pointer;
}

::-webkit-input-placeholder {
	color: #888;  
}

input:-moz-placeholder {
  color: #888
}
aside {
  /*background: -moz-linear-gradient(top, #C3E9F2, #cacad9);
  background: -webkit-linear-gradient(top, #b9b9cb, #cacad9);*/
  background-color: #C3E9F2;
  float: left;
  margin-left: 5px;
  margin-bottom: 5px;
  vertical-align: top;
  width: 15%;

}

h2 {
  background: #fff;
  color: #383838;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24px;
  font-weight: bold;
  padding: 10px 0;
  text-align: center;
  background-color: #0296AD;
}
h4 {
  color: #000;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  padding: 10px 0 0 0;
  text-align: center;
}

.recomendaciones{
  background-color: #C3E9F2;
  position: relative;
  float: right;
  margin-left: 5px;
  margin-bottom: 5px;
  vertical-align: top;
  width: 15%;
  padding: 20px;
  border:  3px solid rgb(36, 44, 54);
}

#contenItemsCarrusel{
  border: 5px solid black; 
  height: 200%;
  overflow: hidden;
}

.itemCarrucel{
  border: 1px solid black;
  height: 200px;
  position: relative;
}
.tarjetaCarrucel{
  background-color: rgb(8, 73, 153);
  height: 100%;
}
.flechaCarrucel{
  background-color: rgb(112, 223, 0.3);
  height: 100%;
  width: 100%;
  position: absolute;
  top:0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#tarjetaCarrusel-1{
  background-color: magenta;
}
#tarjetaCarrusel-2{
  background-color: rgb(56, 6, 56);
}
#tarjetaCarrusel-3{
  background-color: rgb(0, 60, 255);
}

img{
  height: 100px;
  width: 200px;
}

.subtitulo {
  background-color: #78CAD9;
  color: #fff;
  margin: 7px 0;
  font-size: 50px;
  font-weight: 600;
  text-shadow: 2px 2px 1px rgba(0,0,0,0.7);
  font-family: 'Dancing Script', cursive;
  margin-top: 0;
}

.marca { 
  color: #fff;
  margin: 7px 0;
  font-size: 50px;
  font-weight: 600;
  text-shadow: 2px 2px 1px rgba(0,0,0,0.7);
  font-family: 'Dancing Script', cursive;
  margin-top: 0;
}

.linea-division {
  width: 120%;
  height: 2px;
  background-color: #36221c;
}

.recomendaciones h3 {
  font-size: 32px;
}

.recomendaciones p {
  font-size: 24px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.quitar-fondo {
  filter: brightness(1.1);
  mix-blend-mode: multiply;
}

.capsula-imagen {
  text-align: center;
}

.seccion {
  text-align: center;
  font-size: 36px;
  margin-top: 20px;
}


h3{

  color: #443963;
  font-weight: normal;
  font-size: 200%;
  font-family: Arial;

}
button{
  align-items: center;
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  font-size: 150%;
  color: #ffffff;
  background-color: #1883ba;
  border-radius: 6px;
  border: 2px solid #0016b0;
  margin-left: 40%;
}


#footer{
  position: relative;
  bottom: 0;
  width: 100%;
  height: 40px;
  color: #fff;
  /*text-shadow: 0px 1px 0px #fff;*/
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0296AD), to(#78CAD9));
  margin-inline-end: 0px;
}

#footer h5{
  text-align: center;
  margin-top: 10px;
  font-size: 15px;
}
